:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-text-color: #353430;
  --theme-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--theme-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.theme-light .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--theme-color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--theme-color);
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after,
.theme-light .frame::before,
.theme-light .frame::after {
  border-color: var(--theme-color);
}

.theme-light .question-section__title {
  color: var(--theme-color);
}

.theme-light .question-section_type_gallery .question-section__title {
  color: var(--theme-color);
  background-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --title-text-color: #353430;
    --theme-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
  }
  
  :root:not(.theme-dark) .header__rec {
    display: none;
  }
  
  :root:not(.theme-dark) .header__theme-menu-button {
    color: var(--theme-color);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-color);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--theme-color);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button_active {
    border: 1px solid var(--theme-color);
  }
  
  :root:not(.theme-dark) .decorated-zone::before,
  :root:not(.theme-dark) .decorated-zone::after,
  :root:not(.theme-dark) .frame::before,
  :root:not(.theme-dark) .frame::after {
    border-color: var(--theme-color);
  }
  
  :root:not(.theme-dark) .question-section__title {
    color: var(--theme-color);
  }
  
  .question-section__title_type_gallery {
    color: var(--theme-color);
    background-color: var(--accent-color);
  }
}