:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: #353430;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgb(50 49 45 / 0.4);
}

.theme-light .header__theme-menu-button:focus {
  border-bottom: 1px solid #353430;
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid #353430;
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after,
.theme-light .frame::before,
.theme-light .frame::after {
  border-color: #353430;
}

.theme-light .question-section__title {
  color: #353430;
}

.theme-light .question-section_type_gallery .question-section__title {
  color: #353430;
  background-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --title-text-color: #353430;
  }
  
  :root:not(.theme-dark) .header__rec {
    display: none;
  }
  
  :root:not(.theme-dark) .header__theme-menu-button {
    color: #353430;
  }
  
  :root:not(.theme-dark) .header__theme-menu-button:hover {
    border: 1px solid rgb(50 49 45 / 0.4);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button:focus {
    border-bottom: 1px solid #353430;
  }
  
  :root:not(.theme-dark) .header__theme-menu-button_active {
    border: 1px solid #353430;
  }
  
  :root:not(.theme-dark) .decorated-zone::before,
  :root:not(.theme-dark) .decorated-zone::after,
  :root:not(.theme-dark) .frame::before,
  :root:not(.theme-dark) .frame::after {
    border-color: #353430;
  }
  
  :root:not(.theme-dark) .question-section__title {
    color: #353430;
  }
  
  :root:not(.theme-dark) .question-section_type_gallery .question-section__title {
    color: #353430;
    background-color: #FF8DCB;
  }
}